In [19]:
!pip install --upgrade pip setuptools wheel

Requirement already satisfied: pip in d:\applications\anaconda\lib\site-packages (25.2)
Requirement already satisfied: setuptools in d:\applications\anaconda\lib\site-packages (80.9.0)
Requirement already satisfied: wheel in d:\applications\anaconda\lib\site-packages (0.45.1)

In [4]:
!pip install fasttext-wheel

Requirement already satisfied: fasttext-wheel in c:\users\user\anaconda3\lib\site-packages (0.9.2)
Requirement already satisfied: pybind11>=2.2 in c:\users\user\anaconda3\lib\site-packages (from fasttext-wheel) (3.0.0)
Requirement already satisfied: setuptools>=0.7.0 in c:\users\user\anaconda3\lib\site-packages (from fasttext-wheel) (75.1.0)
Requirement already satisfied: numpy in c:\users\user\anaconda3\lib\site-packages (from fasttext-wheel) (1.26.4)

In [15]:
import fasttext
import pandas as pd
import ast

In [8]:
df = pd.read_csv("processed.csv") 
df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,tokens
0,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,"['high', 'hopes', 'wanted', 'work', 'initially..."
1,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,"['jumpsuit', 'fun', 'flirty', 'fabulous', 'tim..."
2,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,"['shirt', 'due', 'adjustable', 'front', 'tie',..."
3,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses,"['tracy', 'reese', 'dresses', 'petite', 'feet'..."
4,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Tops,Knits,"['basket', 'hte', 'person', 'store', 'pick', '..."

In [14]:
print(type(df['tokens'].iloc[0]))

<class 'str'>

In [16]:
with open("corpus.txt", "w", encoding="utf-8") as f:
    for tokens_str in df['tokens']:
        tokens_list = ast.literal_eval(tokens_str)
        f.write(" ".join(tokens_list) + "\n")

In [ ]:
model = fasttext.train_unsupervised("corpus.txt", model="skipgram")
model.save_model("fasttext_model.bin")

In [24]:
sentence = df['tokens'].iloc[0]
print(model.get_sentence_vector(sentence))

[-0.04692106  0.09750532 -0.06283616 -0.03063923  0.02263641  0.00752656
 -0.04559533  0.0228383   0.05849386 -0.04455791 -0.06241038  0.08513366
 -0.0533935   0.02451606  0.14051925  0.01469482  0.09345257 -0.09342849
  0.06105207  0.11565802  0.01099536  0.06187169 -0.05715749 -0.03448763
  0.00483225  0.03802041 -0.07550572  0.0568097   0.119422   -0.01592641
 -0.06935118 -0.09133717  0.07043213 -0.04811725 -0.10986471  0.06888537
  0.01947851 -0.05708226 -0.01823226 -0.08109141  0.14419046  0.12036997
  0.05812876  0.17536533  0.21794318  0.03553142  0.06951611  0.01958312
  0.01736658  0.07533042  0.02816372 -0.04763589  0.00126329 -0.00303728
 -0.0582235  -0.05387472  0.01282334 -0.0406433  -0.00983653  0.10757093
  0.09534649  0.00753201  0.05194162  0.08168802 -0.03056232  0.08035379
  0.022769    0.07595898 -0.00287958 -0.05316142 -0.06925913  0.06577183
 -0.02628137 -0.06605498  0.00452495 -0.06656771  0.01234334 -0.01474429
  0.01510082  0.05523169 -0.03669646 -0.00144796 -0.08549419 -0.11030895
  0.0128621  -0.0754761   0.0612861   0.07846621  0.03019793 -0.00877504
  0.07270863  0.1278121   0.11101964  0.02191274  0.06019184 -0.02611473
  0.05602686 -0.02841054 -0.04435754  0.01356735]

In [30]:
def get_review_vector(tokens):
    # Join tokens into a sentence (fastText expects a string, not list)
    sentence = " ".join(tokens)
    return model.get_sentence_vector(sentence)

# Apply to DataFrame
df["vector"] = df["tokens"].apply(get_review_vector)

df

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,tokens,vector
0,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,"['high', 'hopes', 'wanted', 'work', 'initially...","[0.0582177, 0.029039657, 0.0553726, -0.0037639..."
1,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,"['jumpsuit', 'fun', 'flirty', 'fabulous', 'tim...","[0.044263314, 0.013135654, 0.016781278, -0.009..."
2,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,"['shirt', 'due', 'adjustable', 'front', 'tie',...","[0.058142375, 0.012795001, 0.04880953, -0.0064..."
3,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses,"['tracy', 'reese', 'dresses', 'petite', 'feet'...","[0.0631719, 0.017772513, 0.04842495, 0.0011778..."
4,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Tops,Knits,"['basket', 'hte', 'person', 'store', 'pick', '...","[0.05230129, 0.028226528, 0.053283907, -0.0090..."
...,...,...,...,...,...,...,...,...,...,...,...,...
19657,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses,"['happy', 'snag', 'price', 'easy', 'slip', 'cu...","[0.047469806, 0.03879727, 0.033291727, 0.00400..."
19658,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits,"['reminds', 'maternity', 'clothes', 'stretchy'...","[0.056679506, 0.016033245, 0.042513754, 0.0029..."
19659,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses,"['worked', 'glad', 'store', 'order', 'online']","[0.079210386, 0.025651205, 0.039333623, 0.0049..."
19660,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses,"['wedding', 'summer', 'medium', 'fits', 'waist...","[0.05989271, 0.014495841, 0.045837134, -0.0094..."
19661,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses,"['lovely', 'feminine', 'fits', 'perfectly', 'e...","[0.05240918, 0.020897178, 0.030587548, -0.0084..."